<div class="container-fluid bg-dark text-light py-4">
    <footer class="container text-uppercase d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
        <p class="col-md-4 mb-0 text-white">&copy; 2023 Ravenclaw, Inc</p>
        <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="https://cdn.discordapp.com/attachments/1171025956828352512/1203000829804552192/OIG2.jpeg?ex=65cf80d4&is=65bd0bd4&hm=aa82a1ac071689d1995b7a9b80499cb5872f087c96d9ed1b82ea1300cb928c80" alt="Bootstrap" width="40" height="32" class="bi me-2">
        </a>
        <ul class="nav col-md-4 justify-content-end">
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Home</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Books</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">Feedback</a></li>
            <li class="nav-item"><a href="#" class="nav-link px-2 text-white">About</a></li>
        </ul>
    </footer>
</div>
