<div class="footer">
	<div class="container text-center">		
		<div class="row">						
			<div class="col-lg-12 col-sm-12 col-xs-12">
				<div class="footer_menu">
					<ul class="list-inline">
						<li><a class="nav-link" routerLink="/" routerLinkActive="active">Home</a></li>
						<li><a class="nav-link" routerLink="/books" routerLinkActive="active">Books</a></li>
						<li><a href="#">About</a></li>
					</ul>
				</div>						
				<div class="footer_copyright">
					<p>© 2023 Ravenclaw. All Rights Reserved.</p>
				</div>							
			</div>							
		</div>				
	</div>
</div>