<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="https://cdn.discordapp.com/attachments/1171025956828352512/1203000829804552192/OIG2.jpeg?ex=65cf80d4&is=65bd0bd4&hm=aa82a1ac071689d1995b7a9b80499cb5872f087c96d9ed1b82ea1300cb928c80&" alt="Bootstrap" width="50" height="44">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/books" routerLinkActive="active" style="color: white;">Books</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active" style="color: white;">Login</a>
                </li>
            </ul>
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/user" routerLinkActive="active" style="color: white;">User</a>
                </li>
            </ul>
        </div>
    </div>
</nav>