<!--header-->
<section class="home-slider owl-carousel img" style="background-image: url(assets/img/libaba.png); display: block; height: 350px;">
    <div class="container">
        <div class="row slider-text justify-content-center align-items-center">
            <div class="col-md-7 col-sm-12 text-center ftco-animate">
                <h1 class="mb-3 mt-5 bread">Our Library</h1>
            </div>
        </div>
    </div>
</section>
<!--/header-->

<!--list books-->
<div class="album py-5">
    <div class="container">
        <!--search-bar-->
        <app-search-bar></app-search-bar>
        <!--/search-bar-->
        <!--message-->
        <div *ngIf="showSuccessMessage" class="alert alert-success" role="alert" style="display: block;">
            Book added to library successfully!
        </div>
        <div *ngIf="showErrorMessage" class="alert alert-success" role="alert" style="display: block;">
            Book already present in the library.
        </div>                    
        <!--/message-->
        <!--books-->
        <div class="container">
            <div class="container" *ngIf="!hideBookList">
                <div class="row">
                    <div class="col-md-4" *ngFor="let b of paginatedBooks">
                        <app-books-card [bookDetails]="b" (selected)="assignBookToUser($event)"></app-books-card>
                    </div>
                </div>
            </div>
        </div>
        <!--/books-->
        <div *ngIf="!hideBookList &&! searching">
            <mat-paginator [length]="allBooks.length" [pageSize]="pageSize" [pageSizeOptions]="[9]" (page)="pageEvent=$event; paginate($event)" style="margin-top: 20px; background: #232a34;"></mat-paginator>
        </div>    
    </div>
</div>
<!--/list books-->
