<!--Carousel-->
<div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="assets/img/ca4.jpg" class="d-block w-100" height="800px" alt="...">
          <div class="carousel-caption d-none d-md-block text-center">
              <div style="position: absolute; top: -800%; left: 80%; transform: translate(-50%, -50%); background-color: rgba(19, 53, 123, 0.8); border-radius: 10px; padding: 10px; margin-right: 20px;">
                  <h2 style="color: #FFC436;">Welcome to the Ravenclaw Library</h2>
              </div>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/ca2.jpg" class="d-block w-100" height="800px" alt="...">
          <div class="carousel-caption d-none d-md-block">
              <div style="position: absolute; top: -800%; left: 80%; transform: translate(-50%, -50%); background: rgba(19, 53, 123, 0.8); border-radius: 10px; padding: 10px; margin-right: 20px;">  
                    <h2 style="color: #FFC436;">Discover your favorite books in the Ravenclaw library</h2>
                    <div class="wrapper">
                        <div class="divider div-transparent div-dot"></div>
                    </div>
                    <p>Our online library offers you a vast selection of books of all genres, authors and themes. You can search for your favorite books using keywords, categories or custom filters..</p>
              </div>
          </div>
      </div>
      <div class="carousel-item">
        <img src="assets/img/ca3.jpg" class="d-block w-100" height="800px" alt="...">
          <div class="carousel-caption d-none d-md-block">
              <div style="position: absolute; top: -800%; left: 80%; transform: translate(-50%, -50%); background: rgba(19, 53, 123, 0.8); border-radius: 10px; padding: 10px; margin-right: 20px;">
                    <h2 style="color: #FFC436;">Create your user section and share your passion for reading</h2>
                    <div class="wrapper">
                        <div class="divider div-transparent div-dot"></div>
                    </div>
                    <p>By registering on our website, you will be able to access a user section where you can keep your books, create personalized lists, write reviews and share opinions with other reading enthusiasts.</p>
              </div>
          </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
  <!--/Carousel-->
  
  <!--/Carousel-genres-->
  <div class="slider">
      <div class="slide-track">
          <div class="slide">
              <img src="assets/img/icon-genre/g1.png" height="150" width="150" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/logo.png" height="150" width="150" alt="" />
        </div>
          <div class="slide">
              <img src="assets/img/icon-genre/g2.png" height="150" width="150" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/logo.png" height="150" width="150" alt="" />
        </div>
          <div class="slide">
              <img src="assets/img/icon-genre/g3.png" height="150" width="150" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/logo.png" height="150" width="150" alt="" />
        </div>
          <div class="slide">
              <img src="assets/img/icon-genre/g4.png" height="150" width="150" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/logo.png" height="150" width="150" alt="" />
        </div>
          <div class="slide">
              <img src="assets/img/icon-genre/g5.png" height="150" width="150" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/logo.png" height="150" width="150" alt="" />
        </div>
          <div class="slide">
              <img src="assets/img/icon-genre/g6.png" height="150" width="150" alt="" />
          </div>
          <div class="slide">
            <img src="assets/img/logo.png" height="150" width="150" alt="" />
        </div>
      </div>
  </div>
  <!--/Carousel-genres-->
  
  <!--author quote-->
  <div class="container" style="margin-top: 30px;">
    <div class="row align-items-center event-block no-gutters margin-40px-bottom" style="background-color: #1B1A55;">
        <div class="col-lg-5 order-lg-1">
            <div class="position-relative justify-content-end">
                <img class="responsive-img" src="assets/img/img1.png" alt="">
            </div>
        </div>
        <div class="col-lg-7 order-lg-2">
            <div class="position-relative justify-content-start move-right" style="right: -370px;">
                <img src="assets/img/logo.png" height="260" width="260" alt="">
            </div>
        </div>
    </div>
    <div class="row align-items-center event-block no-gutters margin-40px-bottom" style="background-color: #1B1A55;">
        <div class="col-lg-7 order-lg-1">
            <div class="position-relative justify-content-start move-left" style="left: 120px;"> 
                <div class="font-size28"><img src="assets/img/logo.png" height="260" width="260" alt=""></div>
            </div>
        </div>
        <div class="col-lg-5 order-lg-2">
            <div class="position-relative justify-content-start move-left"> 
                <img class="responsive-img" src="assets/img/img2.jpg" alt="">
            </div>
        </div>
    </div>
</div>
  <!--/author quote-->

  <!--general info-->
  <section>
    <div class="container">
        <div class="row" >
            <div class="history-wrapper">
                <div class="title-wrap text-center one-of-two">
                    <h3 class="h1 text-secondary mb-0 text-uppercase"></h3>
                </div>
                <div class="timeline-box one-of-two">
                    <img class="mb-1-6 rounded" src="assets/img/new.jpeg" alt="..." style="width: 290px;">
                    <div class="content">
                        <h3 class="h4 mb-2 mb-md-3" style="color: #FFC436;">New release</h3>
                        <p class="mb-0">Embark on a literary adventure with our online book bookmark service, featuring a curated collection of the latest releases across genres. Immerse yourself in captivating new reads that promise to ignite your passion for literature.</p>
                    </div>
                </div>
                <div class="timeline-box one-of-two">
                    <img class="mb-1-6 rounded" src="assets/img/best.jpeg" alt="..." style="width: 290px;">
                    <div class="content">
                        <h3 class="h4 mb-2 mb-md-3" style="color: #FFC436;">Best book of the moment</h3>
                        <p class="mb-0">Explore the literary zeitgeist with our selection of the best books at the moment. From bestsellers to hidden gems, these recommendations cater to diverse tastes, offering both enjoyment and enlightenment.</p>
                    </div>
                </div>
                <div class="timeline-box one-of-two">
                    <img class="mb-1-6 rounded" src="assets/img/event.jpeg" alt="..." style="width: 290px;">
                    <div class="content">
                        <h3 class="h4 mb-2 mb-md-3" style="color: #FFC436;">Event scheduled</h3>
                        <p class="mb-0">Stay engaged with our upcoming events, including book clubs, author talks, and immersive literary experiences. Join our community of book enthusiasts for lively discussions and unique insights into the world of literature.</p>
                    </div>
                </div>
                <div class="timeline-box one-of-two">
                    <img class="mb-1-6 rounded" src="assets/img/feedback.jpeg" alt="..." style="width: 290px;">
                    <div class="content">
                        <h3 class="h4 mb-2 mb-md-3" style="color: #FFC436;">Last feedback</h3>
                        <p class="mb-0">Your experience matters, and we're excited to announce a forthcoming feedback feature. Share your thoughts and suggestions directly, shaping the future of our library and ensuring it remains a dynamic and user-friendly space. Thank you for being a part of our reading community. Happy reading!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </section>
  <!--general info-->
  