<div class="card mb-4">
    <div class="card-body text-center">
      <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
        class="rounded-circle img-fluid" style="width: 150px;">
      <h5 class="my-3">Marco Suriano</h5>
      <p class="text-muted mb-1">Full Stack Developer</p>
      <p class="text-muted mb-4">{{ userData.user.email }}</p>
      <div class="d-flex justify-content-center mb-2">
        <button type="button" class="btn btn-primary">Edit</button>
        <button type="button" class="btn btn-outline-primary ms-1">Logout</button>
      </div>
    </div>
  </div>
