<!--header-->
<section class="home-slider owl-carousel img" style="background-image: url(https://t3.ftcdn.net/jpg/02/66/01/52/360_F_266015225_sIO1nQowwDbk8SxmW6VzKyC2a4rqrNca.jpg); display: block; height: 350px;">
    <div class="container">
        <div class="row slider-text justify-content-center align-items-center">
            <div class="col-md-7 col-sm-12 text-center ftco-animate">
                <h1 class="mb-3 mt-5 bread">Profile</h1>
            </div>
        </div>
    </div>
</section>
<!--/header-->

<!--user-->
<div class="container-xl px-4 mt-4">
    <hr class="mt-0 mb-4">
    <div class="row">
        <!--profile-->
        <div class="col-xl-4" *ngIf="userData && userData.user">
            <div class="card mb-4 mb-xl-0">
                <div class="card-header">My data</div>
                <div class="card-body text-center">
                    <img class="img-account-profile rounded-circle mb-2" style="width: 150px;" src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar">
                    <div class="small font-italic text-muted mb-4">{{ userData.user.firstname }} {{ userData.user.lastname }}</div>
                    <div class="small font-italic text-muted mb-4">{{ userData.user.email }}</div>
                    <button class="btn btn-primary m-2" type="button">Edit</button>
                    <button class="btn btn-primary m-2" type="button" (click)="logout()">Logout</button>
                </div>
            </div>
        </div>
        <!--/profile-->
        <!--list books-->
        <div class="col-xl-8">
            <div class="card mb-4">
                <div class="card-header" style="margin-bottom: 15px;">List Books</div>
                <div class="container" *ngFor="let l of userBooks">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="card mb-3 custom-card">
                                <div class="row align-items-center">
                                    <div class="col-auto">
                                        <a href="#!.html"><img src="https://www.bootdey.com/image/280x280/FF00FF/000000" width="100" height="190" class="rounded-3" alt=""></a>
                                    </div>
                                    <div class="col">
                                        <div class="overflow-hidden flex-nowrap">
                                            <p class="text-muted d-block mb-2 small">{{ l.title }}</p>
                                            <p class="card-text">{{ l.genre }}</p>
                                            <p class="card-text">{{ l.editor }}</p>
                                            <p class="card-text">{{ l.publisher }}</p>
                                            <p class="card-text">{{ l.pages }} pages</p>
                                            <p class="card-text">{{ l.description }}</p>
                                        </div>
                                        <div class="d-flex justify-content-between align-items-center">
                                            <div class="btn-group">
                                                <button type="button" class="btn btn-sm btn-outline-secondary btn-hover-blue">Read</button>
                                                <button type="button" class="btn btn-sm btn-outline-secondary btn-hover-blue" (click)="deleteAssignedBook(l.id)">Remove</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--/list books-->
    </div>
</div>
<!--/user-->
