<div class="book-details">
    <h1>Dark Ride Vol. 2</h1>
    <p>I misteri che incombono sulla famiglia Dante, a iniziare dall'oscuro 
        patriarca e dalla genesi del parco a tema horror Devil Land da lui creato, 
        cominciano a dissiparsi: Sam Dante si ritrova alle prese con una maledizione 
        di cui sua sorella Halloween sembra esserne fautrice Nel frattempo, nel parco, 
        i cadaveri continuano ad accumularsi e i mostri, che non sono persone travestite 
        per intrattenere i visitatori, ma esseri infernali a pieno titolo, si fanno sempre
        più vicini e affamati...</p>
</div>
<div class="form-container">
    <form action="login.php" method="post">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username">
        <label for="password">Password:</label>
        <input type="password" id="password" name="password">
        <input type="submit" value="Login">
    </form>
</div>
